<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
	<configSections>
	<section name="AvailableDisqusClients" type="DisqusN.Console.DisqusClientConfigurationSection, DisqusN.Console" requirePermission="false" />
	
</configSections>	
  <AvailableDisqusClients File="User.SECRETS.config"/>
  <!--<AvailableDisqusClients>
  <DisqusClients>     
    <add Name="YourClientName" 
	     AccessToken="YourAccessToken" 
		 PublicKey="YourPublicToken" 
		 PrivateKey="YourPrivateKey"/>
</DisqusClients>
</AvailableDisqusClients>-->

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
